<h1>
	<%= @cat.name %>
	<small>Status: <%= @cat.status %></small>
</h1>
<h3>Power Output</h3>
<div class="progress">
	<% if @cat.status == 'running' %>
		<div class="progress-bar" role="progressbar" style="width: <%= @cat.power_output %>%;">
			<%= @cat.power_output %>kW
		</div>
	<% end %>
</div>
<h3>Live Feed</h3>
<img src="/video/<%= @cat.color %>/<%= @cat.status %>.gif" />
<br />
<br />
<% if @cat.status == 'running' %>
	<a href="<%= url_for @cat %>/rest" class="btn btn-primary">Rest</a>
	<br />
	<br />
<% end %>
<form action="<%= url_for @cat %>" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="hidden" name="_method" value="delete" />
	<input type="submit" class="btn btn-danger" value="Send to Farm Upstate" />
</form>
